body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.0rem;
    grid-template-columns: 1fr min(45rem,95%) 1fr;
}

h5 + h5 {
    margin-top: 0;
}

h1, h4, h5 {
    margin-bottom: 1rem;
}

ul {
    margin: 0;
    padding-left: 1rem;
}

p {
    margin: 0.5rem 0;
}

textarea {
    font-size: 1em;
    line-height: 1.2em;
    height: 4.7em;
}

#spinner {
    display: none;
}

#responseTitle {
    display: none;
}

#referencesTitle {
    display: none;
}

#response {
    white-space: pre-wrap;
}

#references > a, footer > a {
    display: block;
}

a + a {
    margin-top: 1rem;
}

details {
    margin-top: 1rem;
    margin-bottom: 0;
}
