body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.0rem;
    grid-template-columns: 1fr min(45rem,95%) 1fr;
}

h5 + h5 {
    margin-top: 0;
}

h1, h4, h5 {
    margin-bottom: 1rem;
}

ul {
    margin: 0;
    padding-left: 1rem;
}

p {
    margin: 0.5rem 0;
}

textarea {
    font-size: 1em;
    line-height: 1.2em;
    height: 4.7em;
}

#spinner {
    display: none;
}

#responseTitle {
    display: none;
}

#referencesTitle {
    display: none;
}

#response {
    white-space: pre-wrap;
}

#references > a, footer > a {
    display: block;
}

a + a {
    margin-top: 1rem;
}

details {
    margin-top: 1rem;
    margin-bottom: 0;
}

#loginBox {
    display: none;
    grid-template-columns: min(24rem, 100%) 1fr;
}

#loginBox > * {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
}

#spinBox {
    align-items: center;
}

#spinBox > button {
    width: min(20rem, 100%);
    display: block;
    margin: auto;
}

summary {
    overflow-wrap: break-word;
    word-break: normal;
}

#captchaBox {
    display: grid;
    grid-template-columns: min(24rem, 100%) 1fr;
}

#captchaBox > * {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
}

#captchaBox > h4 {
    margin-bottom: 0;
}

#captchaBox > a, #loginBox > a {
    margin-top: 1rem;
}
